@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
#shoping-cart-but{
    background-color: transparent!important;
    border: none;
    color: #FFFFFF; /*Shoping cart icon color*/
    padding-top: 0rem;
    font-weight: 900;
    padding: 0;
}
#shoping-cart-but:hover{
    color: #FFB200; /*Shoping cart hover icon color*/
}
#shoping-cart{
    width: 20px;
    height: 20px;
    transform: scale(1.5);
    margin-top: 0rem;
}
#shoping-cart__header{
    background-color: #FFB200;
}
#shop-cart__icon{
    width: 25px;
    height: 25px;
    margin-right: 0rem;
    transform: rotateZ(-20deg);
    z-index: -3;
}
#Shoping-cart-tittle{
    font-family: 'Fredoka One', cursive;
    color: #FFFFFF;
}
#Shoping-card-body{
    font-family: 'Livvic', sans-serif;
    text-align: center;
    background-color: #FFFFFF;
}
#Shoping-cart__price{
    background-color: #FFB200;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.341);
    display: flex;
}
#Shoping-cart__price button{
    background-color: #B7161E;
    border: none;
    padding: 0.5rem 1rem;
    color: #FFFFFF;
    font-family: 'Livvic', sans-serif;
    border-radius: 20px;
    margin-top: 0.5rem;
}
#Shoping-cart__price button:hover{
    transform: scale(1.1);
    color: #FFB200;
}
#shop-cart__tittle-price{
    color: #B7161E;
    font-family: 'Fredoka One', cursive;
}
#Shop-cart-nothing-image{
    width: 180px;
    filter: saturate(1);
}
.nothing-in-cart{
    opacity: 0.4;
    font-family: 'Fredoka One', cursive!important;
    height: 100px;
}
#total-price{
    font-family: 'Fredoka One', cursive!important;
    color: #B7161E;
    margin-left: 0.3rem!important;
}
#Clear-shopping-cart__content{
    width: 100%;
    padding-top: 0rem;
    background-color: #FFB200;
    display: flex;
    gap: 0.2rem;
    margin-top: -0.1rem;
}
#Clear-shopping-cart__content p{
    color: #B7161E;
    padding-top: 0.3rem;
    font-family: 'Fredoka One', cursive!important;
}
#Clear-shopping-cart__content-icon{
    margin-left: 1rem;
    font-size: 30px;
    color: #B7161E;
}
@media (min-width: 1024px){
    #shoping-cart-but{
        padding-right: 0.5rem;
    }
}